<!-- <mat-grid-list cols="2" rowHeight="300px">

    <mat-grid-tile  colspan="2" rowspan="1" style="background-image: url(../../../assets/images/1.png); background-size:contain; background-repeat: no-repeat;"> <mat-grid-tile-header>Usuarios</mat-grid-tile-header> </mat-grid-tile>
    <mat-grid-tile  colspan="1" rowspan="1" style="background-image: url(../../../assets/images/2.png); background-size:contain; background-repeat: no-repeat;"> 2 </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2" style="background-image: url(../../../assets/images/4.png); background-size:contain; background-repeat: no-repeat;"> 3 </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" style="background-image: url(../../../assets/images/3.png); background-size:contain; background-repeat: no-repeat;"> 4 </mat-grid-tile>

</mat-grid-list> -->

<mat-grid-list cols="2" rowHeight="300px" style="max-width: 1500px;">

    <mat-grid-tile colspan="2" rowspan="1"> <img src="../../../assets/images/1.png" alt="" style="max-width:100%;
        max-height:100%;"> </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">  <img src="../../../assets/images/2.png" alt="" style="max-width:100%;
        max-height:100%;"> </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2">  <img src="../../../assets/images/4.png" alt="" style="max-width:100%;
        max-height:100%;"> </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">  <img src="../../../assets/images/3.png" alt="" style="max-width:100%;
        max-height:100%;"> </mat-grid-tile>

</mat-grid-list>